$color-black : #000;
$color-primary-light : #B8B8B8;
$color-primary : #333333;
$color-primary-dark : #1B1B1B;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Lexend Exa', sans-serif;
    font-weight: 400;
    color: $color-primary-light;
    min-height: 100vh;
}

.main {
    height: 100vh;
    display: flex;
}

.sidebar {
    flex: 0 1 20%;
    background-color: $color-black;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search{
    font-size: 1.5rem;

    & > * {
        // height: 2.5rem;
    }

    &__input {   
        background-color: $color-black;
        border: none;
        border-radius: 100px;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        width: 80%;
        padding: 1rem 2rem;
        margin-right: -3rem;
        transition: all .2s;

        &:focus {
            outline: none;
            width: 100%;
            background-color: $color-primary;
            color: $color-primary-light;
        }
    }

    &__btn {
        background-color: transparent;
        border: none;
    }
}

.footer {
    font-size: 1rem;
    height: 2rem;
    
    &__name{
        display: block;
        font-size: 2.5rem;
    }
}

#map {
    // height: 100vh;
    flex: 1;
}

