<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />   
    <link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

    <title>Weather-app-Remake</title>
</head>
<body>
    <main class="main">

        {{!-- LEFT_DISPLAY --}}

        <section class="display-left">
            <div class="sidebar">

                <div class="content">
                    
                    
                        {{!-- <div class="form__radio">
                            <input type="radio" class="form__radio-input" id="cel" name="units">
                            <label for="cel" class="form__radio-label">
                                Celsius
                            </label>
                            <input type="radio" class="form__radio-input" id="fah" name="units">
                            <label for="fah" class="form__radio-label">
                                Farhenheit
                            </label>
                        </div> --}}
                        

                    <div class="forecast">
                        <p class="forecast__summary"></p>
                        <div class="forecast__temp-curr">
                            <p class="forecast__temp-curr__text"></p>
                            <p class="forecast__temp-curr__value"></p>
                        </div>
                        
                        <p class="forecast__temp-high"></p>
                        <p class="forecast__temp-low"></p>
                        <p class="forecast__rain-prob"></p>
                    </div>
                
                </div>

                <footer class="footer">
                    &copy; Created By <span class="footer__name">Hrugved</span>
                </footer>
            
            </div>

        </section>


        {{!-- RIGHT_DISPLAY --}}

        <section class="display-right">
            <form class="form" action="">
                <input class="form__input" placeholder="Place Name" required>
                <button class="form__btn"><i class="fas fa-form-location"></i></button>
            </form>
            <div class="map" id="map"></div>    
        </section> 
        
    </main>
    
    <script src="js/app.js"></script>
</body>
</html>