* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Lexend Exa', sans-serif;
  font-weight: 400;
  color: #B8B8B8;
  min-height: 100vh; }

.main {
  height: 100vh;
  display: flex; }

.sidebar {
  flex: 0 1 30%;
  background-color: #000;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.search {
  font-size: 1.5rem; }
  .search__input {
    background-color: #000;
    border: none;
    border-radius: 100px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 80%;
    padding: 1rem 2rem;
    margin-right: -3rem;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #333333;
      color: #B8B8B8; }
  .search__btn {
    background-color: transparent;
    border: none; }

.footer {
  font-size: 1rem;
  height: 2rem; }
  .footer__name {
    display: block;
    font-size: 2.5rem; }

.forecast {
  height: 10rem;
  width: 80%; }
  .forecast__summary {
    font-size: 4rem; }
  .forecast__temp-curr {
    font-size: 3rem; }
  .forecast__temp-high {
    font-size: 2rem; }
  .forecast__temp-low {
    font-size: 2rem; }
  .forecast__rain-prob {
    font-size: 1.5rem; }

#map {
  flex: 1; }
